#footer.container
  hr(id="footerHr")
  div.row
    #footerContactUs.col-md-4
      a(href="contactUs") Contact Us
    div.col-md-4
      #socialLinks
        #facebookButton
        #twitterButton
    div.col-md-4
      p.text-muted(id="#copyrightSection") &copy; Nitroglycerin Games 2015